.containerr {
  height: 1100px;
  overflow: auto;
  background-image: url(https://cdn.app.compendium.com/uploads/user/e7c690e8-6ff9-102a-ac6d-e4aebca50425/f0499405-1197-4b43-b7c5-40548eeb9f34/File/a764b231617e29a0ad933f667d9db4e6/difference_between_ai__machine_learning__deep_learning.png);
}
#proleft {
  width: 350px;
  padding: 1em;
  float: left;
  background-color: white; 
  height: 950px;
  margin-top: 7%;
  margin-left: 5%;
  border-radius: 5%;
}
#proright {
  width: 850px;
  float: right;
  padding: 1em;
  height: 950px;
  margin-top: 7%; 
  margin-right: 5%;
  background-color: white; 
  border-radius: 4%;
}
/* profile*/
.avatar {
  display: block;
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 5%;
}
.namepro {
  text-align: center;
  padding-top: 1em;
  text-transform: uppercase;
  font-size: 22px;
}
.menupro {
  text-align: center;
  text-transform: uppercase;
  color: #4169E1;
  width: 350px;
  height: 30px;
  max-width: 320px;
  margin-top: 2px ;
  border: 1px solid #4169E1;
  border-radius: 5%;
  padding-right: 10px;
  font-size: 18px;

}
.topmenu{

}
div a {
  color: black;
  text-decoration: none;

}

.menupro:hover{
background-color:#4169E1;
}

.content{
  margin: 2em;
}

table {
  border:2px;
}
table td.tdr{
  padding-right: 10px;
  padding-left: 10px;
  
  color: gray;
}
table td.tdl{
  text-align: right;
  max-width: 100px;
  padding-left: 5px;
}