<!doctype html>
<html lang="en">

<head>

    <title>ETUTOR - SEARCH</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="profile.componentt.css">
   
</head>

<body>
    <!-- navbar -->
    <header class="menu" once="menu">
       
        <nav class="navbar navbar-expand-md  navbar-dropdown align-items-center navbar-dark nav--dark" >
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="#">
                            <img src="" alt="">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap">
                        <a class="navbar-caption text-white display-5 " href="">
                            eTuTor
                        </a>
                    </span>
                </div>
            </div>
            <button class="navbar-toggler btn-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse shift" id="navbarSupportedContent" >
                <ul class="navbar-nav nav-dropdown nav-right ml-auto">
                    <li class="nav-item  active  p-2">
                        <a class="nav-link link text-white " href="./home.html">
                            Home
                        </a>
                    </li>
                    <li class="nav-item  p-2">
                        <a class="nav-link link text-white " href="aboutus.html">
                            About Us
                        </a>
                    </li>
                    <li class="nav-item dropdown  p-2">
                        <a class="nav-link link  text-white  " href="courses.html">
                            Courses
                        </a>
                       
                    </li>
                    <li class="nav-item dropdown  align-items-center p-2">
                        <a class="nav-link link text-white " href="./blog.html">
                            Blog
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link link text-white " href="contact.html">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item p-2 mt-2">
                        <a href="./login.html" class="blueplay login ">Login</a>
                    </li>
                    <li class="nav-item p-2">
                        <a href="./register.html" class="btn register">Register</a>
                    </li>
                    <li class="nav-item p-2">

                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- navbar -->
     <div class="containerr">
        
        <div id="proleft">
          <div>
            <img class="avatar" src="../../../assets/img/admin/avatar-0.jpg">
            <a href="../EditAvatar/editAvatar.component.html"><img src="https://cdn3.iconfinder.com/data/icons/block/32/box_edit-512.png" width="30px" height="30px"></a>
            <div class="namepro" style="text-align: center;">Trinh Pearl (Student)</div>
          </div>
          <div style="margin-top: 20px;">
              <div class="menupro" style=" background-color: #4169E1"><a  href="profile.component.html" >thông tin</a></div>
              <div class="menupro"><a  href="../EditProfile/editProfile.component.html">sửa thông tin</a></div>
              <div class="menupro"><a  href="../ListCourse/listCourse.component.html">danh sách buổi học</a></div>
            
          </div>            
        </div>
        <div id="proright">
          <div class="content">
            <table class="table">
            <tr>
              <td class="tdl">
                Họ và tên
              </td>
              <td class="tdr">
                Trinh Pearl
              </td>
            </tr>
            <tr>
              <td class="tdl">
                Username
              </td>
              <td class="tdr">
                yeudaigia
              </td>
            </tr>
            <tr>
              <td class="tdl">
                Địa chỉ
              </td>
              <td class="tdr">
                69 Trần Duy Hưng, Cầu Giấy, Hà Nội
              </td>
            </tr>
            <tr>
              <td class="tdl">
                Ngày sinh
              </td>
              <td class="tdr">
                 10/9/2002
              </td>
            </tr>
            <tr>
              <td class="tdl">
                Lớp
              </td>
              <td class="tdr">
                11
              </td>
            </tr>
            <tr>
              <td class="tdl">
                Trường
              </td>
              <td class="tdr">
                THPT Võ Thị Sáu
              </td>
            </tr>
          </table>
        </div>
      </div>
                
    </div>
    <!-- -----------------------detail ------------------- -->


   <!-- footer -->

  <footer id="footer" class="footer-dark">
 
  </footer>
    <script src="profile.component.js"></script>


</body>

</html>