<!doctype html>
<html lang="en">

<head>

    <title>ETUTOR - EDIT INFORMATION</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="editAvatar.component.css">
   
</head>

<body>
    <!-- navbar -->
    <header class="menu" once="menu">
       
        <nav class="navbar navbar-expand-md  navbar-dropdown align-items-center navbar-dark nav--dark" >
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="#">
                            <img src="" alt="">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap">
                        <a class="navbar-caption text-white display-5 " href="">
                            eTuTor
                        </a>
                    </span>
                </div>
            </div>
            <button class="navbar-toggler btn-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse shift" id="navbarSupportedContent" >
                <ul class="navbar-nav nav-dropdown nav-right ml-auto">
                    <li class="nav-item  active  p-2">
                        <a class="nav-link link text-white " href="./home.html">
                            Trang chủ
                        </a>
                    </li>
                    <li class="nav-item  p-2">
                        <a class="nav-link link text-white " href="aboutus.html">
                            Giới thiệu
                        </a>
                    </li>
                    <li class="nav-item dropdown  p-2">
                        <a class="nav-link link  text-white  " href="courses.html">
                            Gia sư
                        </a>
                       
                    </li>
                    <li class="nav-item dropdown  align-items-center p-2">
                        <a class="nav-link link text-white " href="./blog.html">
                            Liên hệ
                        </a>
                    </li>
                    
                    <li class="nav-item p-2 mt-2">
                        <a href="./login.html" class="blueplay login ">Login</a>
                    </li>
                    <li class="nav-item p-2">
                        <a href="./register.html" class="btn register">Register</a>
                    </li>
                    <li class="nav-item p-2">

                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- navbar -->
     <div class="containerr">
        
        <div id="proleft">
          <div>
            <img class="avatar" src="../../../assets/img/admin/avatar-3.jpg">
             <a href="../EditAvatarPH/editAvatar.component.html"><img src="https://cdn3.iconfinder.com/data/icons/block/32/box_edit-512.png" width="30px" height="30px"></a>
            <div class="namepro" style="text-align: center;">HANA HA (parent)</div>
          </div>
          <div style="margin-top: 20px;">
              <div class="menupro"><a  href="../ProfilePH/profile.component.html" >thông tin hồ sơ</a></div>
              <div class="menupro" ><a  href="../ListSon/son.component.html">Danh sách con</a></div>
            
              <div class="menupro"><a  href="../ListCoursePH/listCourse.component.html">danh sách buổi học</a></div>
            
          </div>            
        </div>
        <div id="proright">
          <div class="content">
            <form action="#" method="">
           
                <img class="avatar" src="../../../assets/img/admin/avatar-3.jpg">
                <br>
              <input type="file" name="avatar" value="Chon avatar" class="form-control" >
               <br>
          <div class="buttonSub" style="text-align: center;">
              <input type="submit" name="submit" value="Lưu" class="btn btn-success" >
              
              <input type="submit" name="cancel" value="Hủy" class="btn btn-danger">
           </div>
              
              
            </form>
        </div>
      </div>
                
    </div>
    <!-- -----------------------detail ------------------- -->


   <!-- footer -->

  <footer id="footer" class="footer-dark">
 
  </footer>
    <script src="editAvatar.component.js"></script>


</body>

</html>