<!doctype html>
<html lang="en">

<head>

    <title>ETUTOR - EDIT INFORMATION</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="listCourse.component.css">
   
</head>

<body>
    <!-- navbar -->
    <header class="menu" once="menu">
       
        <nav class="navbar navbar-expand-md  navbar-dropdown align-items-center navbar-dark nav--dark" >
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="#">
                            <img src="" alt="">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap">
                        <a class="navbar-caption text-white display-5 " href="">
                            eTuTor
                        </a>
                    </span>
                </div>
            </div>
            <button class="navbar-toggler btn-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse shift" id="navbarSupportedContent" >
                <ul class="navbar-nav nav-dropdown nav-right ml-auto">
                    <li class="nav-item  active  p-2">
                        <a class="nav-link link text-white " href="./home.html">
                            Trang chủ
                        </a>
                    </li>
                    <li class="nav-item  p-2">
                        <a class="nav-link link text-white " href="aboutus.html">
                            Giới thiệu
                        </a>
                    </li>
                    <li class="nav-item dropdown  p-2">
                        <a class="nav-link link  text-white  " href="courses.html">
                            Gia sư
                        </a>
                       
                    </li>
                    <li class="nav-item dropdown  align-items-center p-2">
                        <a class="nav-link link text-white " href="./blog.html">
                            Liên hệ
                        </a>
                    </li>
                    
                    <li class="nav-item p-2 mt-2">
                        <a href="./login.html" class="blueplay login ">Login</a>
                    </li>
                    <li class="nav-item p-2">
                        <a href="./register.html" class="btn register">Register</a>
                    </li>
                    <li class="nav-item p-2">

                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- navbar -->
     <div class="containerr">
        
        <div id="proleft">
          <div>
            <img class="avatar" src="../../../assets/img/admin/avatar-0.jpg">
             <a href="../EditAvatar/editAvatar.component.html"><img src="https://cdn3.iconfinder.com/data/icons/block/32/box_edit-512.png" width="30px" height="30px"></a>
            <div class="namepro" style="text-align: center;">Trinh Pearl (Student)</div>
          </div>
          <div style="margin-top: 20px;">
              <div class="menupro"><a  href="../ProfileStudent/profile.component.html" >thông tin</a></div>
              <div class="menupro" ><a  href="../EditProfile/editProfile.component.html">sửa thông tin</a></div>
            
              <div class="menupro"><a  href="../ListCourse/listCourse.component.html">danh sách buổi học</a></div>
            
          </div>            
        </div>
        <div id="proright">
          <div class="content">
            <div class="infoschedule">
              Chi tiết lịch biểu
              <br>
              <br>

              <input type="date" class="form-control" id="ngayhientai" >
            </div>
            <div class="listSchedule">
              <table class="table" style="text-align: center;">
                <tr>
                  <th>
                  Buổi
                </th>
                <th>
                  Bắt đầu
                </th>
                <th>
                  Kết thúc
                </th>
                <th>
                  Gia sư
                </th>
                <th>
                  Xem
                </th>
                <th>
                  Xóa
                </th>
                </tr>
                <tr>
                  <th>
                    Sáng
                  </th>
                  <td>
                    7h30
                  </td>
                  <td>
                    12h30
                  </td>
                  <td>
                    Mr.Hùng
                  </td>
                  <td>
                    <a href="#"><img src="https://static.thenounproject.com/png/6076-200.png" width="30" height="30"></a>
                  </td>
                  <td>
                    <a href="#"><img src="https://www.iconexperience.com/_img/v_collection_png/256x256/shadow/delete.png" width="30" height="30"></a>
                  </td>
                </tr>
                <tr>
                  <th>
                    Trưa
                  </th>
                  <td>
                    7h30
                  </td>
                  <td>
                    12h30
                  </td>
                  <td>
                    Mr.Hùng
                  </td>
                  <td>
                    <a href="#"><img src="https://static.thenounproject.com/png/6076-200.png" width="30" height="30"></a>
                  </td>
                  <td>
                    <a href="#"><img src="https://www.iconexperience.com/_img/v_collection_png/256x256/shadow/delete.png" width="30" height="30"></a>
                  </td>
                </tr>
                <tr>
                  <th>
                    Chiều
                  </th>
                  <td>
                    7h30
                  </td>
                  <td>
                    12h30
                  </td>
                  <td>
                    Mr.Hùng
                  </td>
                  <td>
                    <a href="#"><img src="https://static.thenounproject.com/png/6076-200.png" width="30" height="30"></a>
                  </td>
                  <td>
                    <a href="#"><img src="https://www.iconexperience.com/_img/v_collection_png/256x256/shadow/delete.png" width="30" height="30"></a>
                  </td>
                </tr>
                <tr>
                  <th>
                    Tối
                  </th>
                  <td>
                    7h30
                  </td>
                  <td>
                    12h30
                  </td>
                  <td>
                    Mr.Hùng
                  </td>
                  <td>
                    <a href="#"><img src="https://static.thenounproject.com/png/6076-200.png" width="30" height="30"></a>
                  </td>
                  <td>
                    <a href="#"><img src="https://www.iconexperience.com/_img/v_collection_png/256x256/shadow/delete.png" width="30" height="30"></a>
                  </td>
                </tr>
              </table>
            </div>
        </div>
      </div>
                
    </div>
    <!-- -----------------------detail ------------------- -->


   <!-- footer -->

  <footer id="footer" class="footer-dark">
 
  </footer>
    <script src="listCourse.component.js"></script>


</body>

</html>