<!doctype html>
<html lang="en">

<head>

    <title>ETUTOR - EDIT INFORMATION</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="profile.component.css">
   
</head>

<body>
    <!-- navbar -->
    <header class="menu" once="menu">
       
        <nav class="navbar navbar-expand-md  navbar-dropdown align-items-center navbar-dark nav--dark" >
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="#">
                            <img src="" alt="">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap">
                        <a class="navbar-caption text-white display-5 " href="">
                            eTuTor
                        </a>
                    </span>
                </div>
            </div>
            <button class="navbar-toggler btn-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse shift" id="navbarSupportedContent" >
                <ul class="navbar-nav nav-dropdown nav-right ml-auto">
                    <li class="nav-item  active  p-2">
                        <a class="nav-link link text-white " href="./home.html">
                            Trang chủ
                        </a>
                    </li>
                    <li class="nav-item  p-2">
                        <a class="nav-link link text-white " href="aboutus.html">
                            Giới thiệu
                        </a>
                    </li>
                    <li class="nav-item dropdown  p-2">
                        <a class="nav-link link  text-white  " href="courses.html">
                            Gia sư
                        </a>
                       
                    </li>
                    <li class="nav-item dropdown  align-items-center p-2">
                        <a class="nav-link link text-white " href="./blog.html">
                            Liên hệ
                        </a>
                    </li>
                    
                    <li class="nav-item p-2 mt-2">
                        <a href="./login.html" class="blueplay login ">Login</a>
                    </li>
                    <li class="nav-item p-2">
                        <a href="./register.html" class="btn register">Register</a>
                    </li>
                    <li class="nav-item p-2">

                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- navbar -->
     <div class="containerr">
        
        <div id="proleft">
          <div>
            <img class="avatar" src="../../../assets/img/admin/avatar-3.jpg">
             <a href="../EditAvatarPH/editAvatar.component.html"><img src="https://cdn3.iconfinder.com/data/icons/block/32/box_edit-512.png" width="30px" height="30px"></a>
            <div class="namepro" style="text-align: center;">HANA HA (parent)</div>
          </div>
          <div style="margin-top: 20px;">
              <div class="menupro" style="background-color: #4169E1"><a  href="../ProfilePH/profile.component.html" >thông tin hồ sơ</a></div>
              <div class="menupro" ><a  href="../ListSon/profile.component.html">Danh sách con</a></div>
            
              <div class="menupro"><a  href="../ListCoursePH/listCourse.component.html">danh sách buổi học</a></div>
            
          </div>            
        </div>
        <div id="proright">
          
       <div class="content">
         <a href="../EditProfilePH/editProfile.component.html" style="float: right;"><img src="https://cdn3.iconfinder.com/data/icons/block/32/box_edit-512.png" width="30px" height="30px"></a>
            <table class="table">
            <tr>
              <td class="tdl">
                Họ và tên
              </td>
              <td class="tdr">
                Trinh Pearl
              </td>
            </tr>
            <tr>
              <td class="tdl">
                Username
              </td>
              <td class="tdr">
                yeudaigia
              </td>
            </tr>
             <tr>
              <td class="tdl">
                Email
              </td>
              <td class="tdr">
                cogaibebong@yahoo.com.vn
              </td>
            </tr>
            <tr>
              <td class="tdl">
                Địa chỉ
              </td>
              <td class="tdr">
                69 Trần Duy Hưng, Cầu Giấy, Hà Nội
              </td>
            </tr>
            <tr>
              <td class="tdl">
                Ngày sinh
              </td>
              <td class="tdr">
                 10/9/2002
              </td>
            </tr>
            <tr>
              <td class="tdl">
                Kinh nghiệm
              </td>
              <td class="tdr">
                Đã từng dạy nhiều năm trong lĩnh vực toán lí hóa
              </td>
            </tr>
            <tr>
              <td class="tdl">
                Chuyên
              </td>
              <td class="tdr">
                Toán lớp 1 -> 5
                Tiếng Việt lớp 2 -> 5
              </td>
            </tr>
            <tr>
              <td class="tdl">
                Công việc
              </td>
              <td class="tdr">
                Giáo viên trường THPT Võ Lai
              </td>
            </tr>
            <tr>
              <td class="tdl">
                Bằng cấp
              </td>
              <td class="tdr">
                <div class="slider-wrapper">
    <ul class="s-thumbs">
         <li><a href="#slide-1"><img src="../../../assets/img/admin/avatar-0.jpg" alt="" width="50" height="50" /></a></li>
         <li><a href="#slide-2"><img src="../../../assets/img/admin/avatar-1.jpg" alt=""width="50" height="50"  /></a> </li>
         <li><a href="#slide-3"><img src="../../../assets/img/admin/avatar-2.jpg" alt=""width="50" height="50"  /></a></li>
         <li><a href="#slide-4"><img src="../../../assets/img/admin/avatar-3.jpg" alt=""width="50" height="50"  /></a></li>
     
    </ul>
 
    <ul class="s-slides">
    <li id="slide-1" class="slideLeft"><img src="../../../assets/img/admin/avatar-0.jpg" alt="" /></li>
    <li id="slide-2" class="slideRight"><img src="../../../assets/img/admin/avatar-1.jpg" alt="" /></li>
    <li id="slide-3" class="slideTop"><img src="../../../assets/img/admin/avatar-2.jpg" alt="" /></li>
    <li id="slide-4" class="slideBottom"><img src="../../../assets/img/admin/avatar-3.jpg" alt="" /></li>
</ul>
</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="clear"></div>    
    </div>
    <!-- -----------------------detail ------------------- -->


   <!-- footer -->

  <footer id="footer" class="footer-dark">
 
  </footer>
    <script src="profile.component.js"></script>


</body>

</html>